input{
    font-size: 0.75rem;

    border: 1px solid var(--color-gray-500);
    padding: 10px;
    outline: none;
    font-weight: 300;
}

input:hover{
    border: 1px solid var(--color-gray-100);
}

input:active{
    border: 1px solid var(--color-gray-600);
}

input[type="submit"]{
    background-color: var(--color-gray-500);
    color: var(--color-white);
}

input[type="submit"]:hover, 
button:hover{
    cursor: pointer;
}