@import url("../core/typography.css");

h1{
    --font-size: 3rem;        
}

h2{
    --font-size: 2rem;
}

h3{
    --font-size: 1.5rem;
}

h4{
    --font-size: 1.25rem;
}

h5{
    --font-size: 1rem;
}

p{
    --font-size: 1.08rem;
    word-spacing: 0.02rem;
}

h1, h2, h3, h4, h5, p{
    font-size: var(--font-size);
}

a{
    line-height: 1.25rem;
    text-decoration: none;
}