.trails{
   display: flex;
   flex-wrap: wrap;
     
   width: 72vw;
   height: 100vh;
   margin: auto;

}


@media only screen and (max-width: 1552px) {
   .trails{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
   }
}