$background-color: var(--color-primary);
$font-color: var(--color-gray-900);
$hover-font-color: var(--color-gray-700);
$active-font-color: var(--color-black);

#root{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px 20px;
    background-color: $background-color;
    color: $font-color;

    ul{
        display: flex;
    }

    > div{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 22px;
    }
}

.button{
    a{
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px 10px;
        color: $font-color;

        &:hover{
            color: $hover-font-color;
        }

        &:active{
            color: $active-font-color;
        }
    }
}