$base-color:    var(--color-black);
$font-color:    var(--color-white);
$default-color: var(--color-gray-500);
$hover-color:   var(--color-gray-100);
$active-color:  var(--color-gray-900);

.root{
    width: 500px;
}

.field{
    display: flex;
    align-items: stretch;
    
    &:hover{
        .submit-button{
            background-color: $hover-color;
        }

        .input{
            border: 1px solid $hover-color;
        }
    }

    &:active{
        .submit-button{
            background-color: $active-color;
        }

        .input{
            border: 1px solid $active-color;
        }
    }
}

.input{
    font-size: 1rem;
    font-family: sans-serif;
    flex-grow: 1;
}

.submit-button{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 100;
    background-color: $default-color;
    color: $font-color;
    border: none;
    border-radius: 0px 8px 8px 0px;
}